
Title: <%= @song.title%>



<h3>Comments</h3>
<ul>
  <% @songs.comment.each do |comment| %>
    <li><%= comment.username  %> says: <%= comment.content %></li>
  <% end %>
</ul>

<h6>Add a Comment:</h6>
<%= form_for @song.comments.build do |f| %>
<%= f.label "Name:"%>
<%= f.text_field :username %>
<%= f.label "Comment:" %>
<%= f.text_field :content %>
  <%= f.hidden_field :song_id %>

  <%= f.submit %>
<% end %>
<br>
<%= link_to "All Tracks", songs_path %><br>
Back to <%= link_to "DJ Dashboard", dashboard_index_path %><br>
